<h1 class="main_heading">Welcome to MeyeWerds</h1>
<p class="center">Here you can learn more about me by reading meye werds.</p>
<p class="center"><%= link_to 'My Blog', articles_path, class: "btn center" %></p>
