<% provide(:title, "About") %>
<h1>About</h1>
<h2>Adam Recvlohe</h2>
<p>Adam loves to learn. He loves learning so much he taught himself how to code. In the process he learned how to make sleek web applications that are practical to end-users. His background certainly shows his support of diversity and interest in culture. Now he hopes to fuse his career into one coherent whole, using all facets of his eclectic life.</p>
